
<div class="form-horizontal">
  <div class="auth-jumbo col-xs-6 col-xs-offset-3 text-center jumbotron">

    <h3>Sign in to Mighty Shore</h3>

    <hr>
    <br>
    <div class="text-center">
      <div class="form-group">
        <span for="login-username" class="col-xs-2 col-xs-offset-1 control-label">Username</span>
        <div class="col-xs-8">
          <input ng-model='loginObj.Username' id='#login-username' type="text" class="form-control text-primary" placeholder="Username" >
        </div>
      </div>
      <div class="form-group">
        <span for="login-password" class="col-xs-2 col-xs-offset-1 control-label">Password</span>
        <div class="col-xs-8">
          <input ng-model='loginObj._Password' id='#login-password' type="password" class="form-control text-primary" placeholder="Password" >
        </div>
      </div>
      <br>
      <button ng-click='loginUser(loginObj)' type='submit' class="btn btn-success ">Sign In</button>
      <br>
      <br>
      <small ui-sref="forgot"> Forgot Password? </small>
      <br>
      <br>
      <p ui-sref="register" class='text-primary'>Need an Account?</p>
      <div class="row">
        <a ng-click="authenticate('facebook')" class="col-xs-2 social-buttons col-xs-offset-2" ><i class="fa fa-5x fa-facebook-square text-primary"></i></a>
        <a ng-click="authenticate('github')" class="col-xs-2 social-buttons"><i class="fa fa-5x fa-github text-primary"></i></a>
        <a ng-click="authenticate('twitter')" class="col-xs-2 social-buttons"><i class="fa fa-5x fa-twitter-square text-primary"></i></a>
        <a ng-click="authenticate('instagram')" class="col-xs-2 social-buttons"><i class="fa fa-5x fa-instagram text-primary"></i></a>
      </div>
      <br>
      <p class="lead">Login with a Social Network</p>
    </div>
  </div>
</div>
