<div class="container-fluid">
  <div class="form-group">
    <div class="register-jumbo col-xs-6 col-xs-offset-3 text-center jumbotron">
      <h3>Sign Up for Mighty Shore</h3>
      <hr>
      <div class="text-center">
        <form ng-submit="registerNewUser(registerObj)">
          <input ng-model='registerObj.name' type="text" class="form-control" placeholder="Name" required>
          <br>
          <input ng-model='registerObj.Email' type="text" class="form-control" placeholder="Email" required>
          <br>
          <input ng-model='registerObj.Username' type="text" class="form-control" placeholder="Username" required>
          <br>
          <input ng-model='registerObj.password' type="password" class="form-control" placeholder="Password" required>
          <br>
          <input ng-model='registerObj._Password' type="password" class="form-control" placeholder="Verify Password" required>
          <br>
          <input ng-model='registerObj.Avatar' type="text" class="form-control " placeholder="Avatar URL">
          <br>
          <div class="fileinput fileinput-new " data-provider='fileinput'>
            <span class="btn btn-warning btn-file">Choose Image File</span><br>
            <span ng-model='registerObj.AvatarFile' class="fileinput-new">No File Chosen</span>
          </div>
          <br>
          <textarea ng-model='registerObj.Bio' class='form-control' placeholder="Bio"></textarea>
          <hr>
          <button type='submit' class="btn btn-info btn-lg">Register</button>
        </form>
        <hr>
        <a ui-sref="login"> <u>Login</u></a>
      </div>
    </div>
  </div>
</div>
